
/*acomodando el formulario de crear sevri*/

body{
 background:url('../../img/1.jpg') repeat 0 0;
 background-size: cover;  
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed; 
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 color:white;

}
.contForm{
 margin: auto;
 margin-top: 2%;
 margin-left: 6%;
 color: #FFFFFF;
}
.inputs{
  float-left;
  margin-left: 0% ;
  width: 60%;
  
}
.contendorselect{
	float: left;
	margin-left: -1%;
	width: 50%;
	height: 100px;
	padding: 0 10px;
}
